@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

#loginPage {
    background: linear-gradient(135deg, #AA5CC3 0%, #00A4DC 100%);
    font-family: Poppins;
}

body > div.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.semiTransparent.noHeaderRight{
    background-color: rgba(0, 11, 37, 0%);
}

.pageTitleWithDefaultLogo {
    display: none;
}

.manualLoginForm {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    background-color:#000B25 ;
}

.sectionTitle {
    text-align: center;
    font-weight: 600;
}

#txtManualName{
    background: transparent;
}

#txtManualPassword{
    background: transparent;
}

#loginPage .raised.cancel.block.btnManual.emby-button {
    display: none;
  }
  #loginPage .raised.cancel.block.btnForgotPassword.emby-button {
    display: none;
  }